/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};

	/* This creates a link we can grab in C code using ADC_DT_SPEC_GET */
	zephyr,user {
		io-channels = <&adc 1>;
	};

	aliases {
		pwm-led1 = &my_pwm_led_1;
		pwm-led2 = &my_pwm_led_2;
        haptic = &erm_motor;
	};

    custom_outputs {
		compatible = "gpio-leds";
		
		erm_motor: pin_a0 {
			/* P0.02 translates to Port 0, Pin 2 */
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "ERM Haptic Motor";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		
		my_pwm_led_1: pwm_led_1 {
			pwms = <&pwm0 0 PWM_HZ(100) PWM_POLARITY_INVERTED>;
		};
		
		my_pwm_led_2: pwm_led_2 {
			pwms = <&pwm0 1 PWM_HZ(100) PWM_POLARITY_NORMAL>;
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&nfct {
	status = "okay";
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/* Configuration for AIN1 (Physical Pin P0.03 / A1) */
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
        // 40us required for 1M Ohm resistors
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; 
		zephyr,resolution = <12>;
	};
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			/* NRF_PSEL(Function, Port, Pin) */
			psels = <NRF_PSEL(PWM_OUT0, 0, 6)>,
					<NRF_PSEL(PWM_OUT1, 0, 29)>;
		};
	};
	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 6)>,
					<NRF_PSEL(PWM_OUT1, 0, 29)>;
			low-power-enable;
		};
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&lsm6ds3tr_c {
    irq-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
};

&timer1 {
    status = "okay";
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>; // Sets speed to 400kHz
};